# Data Science Tools and Ecosystem

This notebook is to summarize data science tools and environment

__Objectives of this assignment are :__
- Popular language used in data science 
- Commonly used libraries in data science 
- Data science Tools 
- Evaluating arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python 
2. R 
3. Scala
4. Julia 
5. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Sklearn
2. TensorFlow
3. Pandas
4. Seaborn
5. SciPy

| Data Science Tools   |
------------------------
| RStudio.             |  
| Apache Spark         |
| TensorFlow           |

### Here are some examples of evaluating arithmetic expressions in Python

In [2]:
# This is a simple arithmetic expression to mutiply and then add integers in python.

In [3]:
print((3*4)+5)

17

In [4]:
# This python code will convert 200 minutes to hours by diving by 60

In [5]:
a=200 
b=60
print(a/b,"hours")

3.3333333333333335 hours

## Author 
Jasman Singh